.patientInfoLabel{
    font-weight: bolder;
}

.patientInformationsContainer md-content {
    /*background: inherit;*/
    height: 100%;
}

.largeContent{
    height: 220px;
}
.smallContent{
    height: 70px;
}