<md-card class="patientComponent">

    <md-card-title>
        <md-card-title-text 
            ng-class="{'patientFemale': $ctrl.data.gender === 'F', 'patientMale': $ctrl.data.gender === 'M', 'patientOther': $ctrl.data.gender === 'A'}">
            <span class="md-headline">
                {{$ctrl.data.name + ' ' + $ctrl.data.firstname}}
            </span>
        </md-card-title-text>
    </md-card-title>

    <md-card-content ng-switch="$ctrl.displayMode" class="patientInformationsContainer"
                     ng-class="{
                                 largeContent: $ctrl.displayMode !== 'summary',
                                         smallContent: $ctrl.displayMode === 'summary'
                             }">

        <!-- eventuellement replacer ng-switch par ng-shwo pour faciliter les animations -->

        <!-- Affichage des informations de base -->
        <md-content ng-switch-when="summary" flex >
            <table style="width: 100%">
                <tr ng-repeat="(kinfo, info) in $ctrl.summaryDatas">
                    <td class="patientInfoLabel">{{kinfo}}:</td>
                    <td>{{info}}</td>
                </tr>
            </table>
        </md-content>

        <!-- Affichage toutes les informations -->
        <md-content ng-switch-when="complete" flex>
            <form-patient patient="$ctrl.data" disabled="true"></form-patient>
        </md-content>

        <!-- Modifier le patient. 
        Les données sont différentes de celles qui sont affichées plus haut-->
        <md-content ng-switch-when="modification" flex >
            <form-patient patient="$ctrl.modificationsData" disabled="false"
                          on-form-validated="$ctrl.formHasBeenValidated()"></form-patient>
        </md-content>

        <!-- Affichage toutes les visites -->
        <md-content  ng-switch-when="visits" flex >
            <table style="width: 100%">
                <tr ng-repeat="(kinfo, info) in $ctrl.data.visits">
                    <td class="patientInfoLabel">{{kinfo}}</td>
                    <td>{{info}}</td>
                </tr>
            </table>
            <span ng-show="$ctrl.data.visits.length < 1">Aucune visite à afficher</span>
        </md-content>

    </md-card-content>

    <!-- Boutons d'action -->
    <md-card-actions layout="row" layout-align="end center">
        <md-button ng-click="$ctrl.setDisplayMode('summary')" ng-show="$ctrl.displayMode !== 'summary'">
            Replier</md-button>
        <md-button ng-click="$ctrl.setDisplayMode('visits')">Visites</md-button>
        <md-button ng-click="$ctrl.setDisplayMode('complete')">Détails</md-button>
        <md-button ng-click="$ctrl.setDisplayMode('modification')">Modifier</md-button>
        <md-button>Supprimer</md-button>
    </md-card-actions>

</md-card>