body{
    background: #F0F0F0;
    font-family: Arial, Verdana;
}

.form{
    text-align: center;
}

#container{
    border: solid gray 1px;
    background: white;
    padding: 20px;
    padding-top: 25px;
    width: 60%;
    margin: auto;
    min-height: 600px;
}

#headerSpace{
    text-align: center;
}

#resultsSpace{

}

#searchTextField{
    width: 80%;
    font-size: 20px;
    color: gray;
}

#footer{
    margin-top: 30px;
    text-align: center;
}

.articleTitle{
    font-size: 17px;
    font-weight: bolder;
    color: green;
    margin-bottom: 7px;
}
.articleText{
    color: #252525;
}

.resultPiece{
    margin: 30px;
}

.errorResponse{
    margin: 30px;
    color: #b81900;
    font-weight: bolder;
}