doctype html
html
    head
        title Kaiwa
        meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")
        link(rel="stylesheet", href="/css/client.css")
        block head
    body.aux
        header
            h2 Prototype Kaiwa
        block content

        script(src='/js/zepto.js')
        block scripts
