<div layout="row" id="medicalOffice">

    <!-- Espace d'affichage du menu (à gauche de la page) -->
    <div flex="30" id="medicalOfficeMenu">
        <h2>Menu</h2>
        <!-- Iterer les les elements à afficher et créer des liens vers les actions respectives. Les actions
        prennent en paramètre leur controleur et leur element d'appartance.
        -->
        <div ng-repeat="(k, element) in $ctrl.menuElements">
            <a ng-click="element.action($ctrl, element)" href="#">
                {{element.label}}
            </a>
        </div>

        <div ng-show="$ctrl.debugMode"><b>Mode débuggage actif</b></div>
    </div>


    <!-- Espace de travail (au centre de la page) 
    
    Contient une succession d'elements masqués qui seront (peut être...) affiché lors d'un 
    clic et du declenchement d'une action.
    
    -->
    <div flex id="medicalOfficeWorkspace">

        <h2>Espace de travail</h2>

        <div id="displayOfficeInfos" ng-show="$ctrl.menuElements.displayOfficeInfos.visible">
            <display-office-informations></display-office-informations>
        </div>

        <div id="displaySearchPatients" ng-show="$ctrl.menuElements.displaySearchPatients.visible">
            displaySearchPatients
        </div>

        <div id="displayAllPatients" ng-show="$ctrl.menuElements.displayAllPatients.visible">
            <h2>Liste des patients</h2>
            <div ng-repeat="elmt in $ctrl.allPatients">
                <patient data="elmt"></patient>
            </div>
        </div>

        <div id="displayAllNurses" ng-show="$ctrl.menuElements.displayAllNurses.visible">
            <h2>Liste des infirmiers</h2>
            <div ng-repeat="elmt in $ctrl.allNurses">
                <nurse data="elmt"></nurse>
            </div>
        </div>

        <div id="displayNonAffectedPatients" ng-show="$ctrl.menuElements.displayNonAffectedPatients.visible">
            <h2>Liste des patients non-affectés</h2>
            <div ng-repeat="elmt in $ctrl.nonAffectedPatients">
                <patient data="elmt"></patient>
            </div>
        </div>

        <div id="displayAddPatientForm" ng-show="$ctrl.menuElements.displayAddPatientForm.visible">
            <h2>Nouveau patient</h2>
            <form-patient></form-patient>
        </div>

        <div id="showController" ng-show="$ctrl.menuElements.showController.visible">
            <h2>Controlleur de cabinet médical</h2>
            <json-pretty-print show="$ctrl"></json-pretty-print>
        </div>


    </div>
</div>